<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wcl.testdemo">
    <!-- <uses-feature -->
    <!-- android:glEsVersion="0x0002000" -->
    <!-- android:required="true" /> &lt;!&ndash; 引入OpenGL ES &ndash;&gt; -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- 管理所有文件权限(高危权限,GooglePlay通不过) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 存储权限 -->
    <!-- android:name="ACCESS_BACKGROUND_LOCATION: 定位权限(不能写,写上请求权限时默认被拒绝) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 定位权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- WIFI权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".init.AppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <!-- Splash界面 -->
        <activity
            android:name=".init.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 测试入口 -->
        <activity
            android:name=".init.TestActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 测试: Java基础 -->
        <activity
            android:name=".test.test00_javabase.activity.JavaBaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 测试: Android基础 -->
        <activity
            android:name=".test.test01_androidbase.activity.AndroidBaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 测试: 四大组件 -->
        <activity
            android:name=".test.test02_4components.activity.TestComponentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 测试: 视图 -->
        <activity
            android:name=".test.test03_view.activity.TestViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 测试: 设备 -->
        <activity
            android:name=".test.test04_device.activity.TestDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 测试: 三方库 -->
        <activity
            android:name=".test.test05_library.activity.TestLibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 测试: 音视频 -->
        <activity
            android:name=".test.test06_audio_video.activity.TestAudioAndVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
    "orientation|screenSize|keyboardHidden":屏幕方向切换不重新走生命周期方法.
         fullSensor:表示4个方向都可以旋转.
        -->
        <activity
            android:name=".test.test03_view.test00.ScreenThemeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".test.test01_androidbase.test03.SaveFileActivity"
            android:exported="false" />
        <activity
            android:name=".test.test00_javabase.test02.SocketTestActivity"
            android:exported="false" />
        <activity
            android:name=".test.test00_javabase.test02.SocketServiceActivity"
            android:exported="false" />
        <activity
            android:name=".test.test00_javabase.test02.SocketClientActivity"
            android:exported="false" />
        <activity
            android:name=".test.test02_4components.test00.ServiceTestActivity"
            android:exported="false" />
        <activity
            android:name=".test.test06_audio_video.test00.TpActivity"
            android:exported="false" />
        <activity
            android:name=".test.test06_audio_video.test00.tp.client.TpClientActivity"
            android:exported="false" />
        <activity
            android:name=".test.test06_audio_video.test01.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test02.VideoChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test03_opengl.activity.OpenGLTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test03_opengl.test00.GLSurfaceViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test03_opengl.test02.CameraXActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test03_opengl.test08.activity.OpenGLRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test04_opencv.activity.OpenCVTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test04_opencv.test00.FaceRecognitionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test05_ffmpeg.activity.FFmpegTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test05_ffmpeg.test01.PlayVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test05_ffmpeg.test02.PlayAudioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test05_ffmpeg.test03.activity.MusicPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test06_audio_video.test05_ffmpeg.test04.activity.VideoPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test03_view.test01_customview.activity.CustomViewTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test03_view.test01_customview.test00.TestToggleButtonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".test.test02_4components.test00.MyService"
            android:exported="false" />
        <service
            android:name=".test.test06_audio_video.test00.tp.service.TpServerService"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".test.test06_audio_video.test05_ffmpeg.test03.musicservice.MusicService"
            android:exported="false" /> <!-- 极光推送相关: -->
        <!-- 在 AndroidManifest 中配置一个Service，以在更多手机平台上获得更稳定的支持，示例如下： -->
        <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service,要继承极光JCommonService,可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".push.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- 从 JPush 5.2.0 开始，需要配置继承 JPushMessageService 的广播，原来如果配了 MyReceiver和JPushMessageReceiver 现在可以弃用，示例如下： -->
        <!-- Required since 5.2.0 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定义的Service -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 5.2.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageService 类, 并如下新增一个 Intent-Filter -->
        <service
            android:name=".push.PushMessageService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.SERVICE_MESSAGE" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </service>

        <activity
            android:name=".init.CricketActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test00_javabase.test00.JsonTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.test00_javabase.test01.CacheTestActivity"
            android:exported="false" />
        <activity
            android:name=".test.test01_androidbase.test08.DialogTestActivity"
            android:exported="false" />
        <activity
            android:name=".test.test00_javabase.test03.EncryptDecryptTestActivity"
            android:exported="false" />
        <activity
            android:name=".test.test05_library.test00.RetrofitTestActivity"
            android:exported="false" />
    </application>

</manifest>